@import '../Content/scss/main-bootstrap.scss';
@import '../Content/scss/_custom.scss';
@import '../Content/scss/components/_bootstrapTable.scss';
body{
  background: #F5F7F6;
}

.loader-backdrop{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #293240;
  z-index: -1;
}
.loader{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  .spinner{
    position: absolute;
    left: 155px;
    top: 8px;
  }
  .loader-wrapper{
    position: relative;
  }
  .subtext{
    color: #FFF;
  }
}
.program-title{
  margin: .5em 1.6em 16px 2.3em;
}
.tiles{
  text-align: center;
  margin-top:5em;
}

.trend-chart {
  display: block;
  &.buying-pattern {

    margin: 0px auto;

    .axis path,
    .axis line {
      fill: none;
      stroke: #CCC;
      shape-rendering: crispEdges;
    }

    .y.axis {
      path {
        display: none;
      }
      .tick {
        stroke-dasharray: 1, 1;
      }
    }

    .line {
      fill: none;
      stroke: #CCC;
      stroke-width: 1.5px;
    }

    &.simple {
      margin-left: 0;
      margin-right: auto;
      .dot {
        &:not(.first):not(.last):not(.detached):not(.highlight) {
          fill: none;
        }

        &.first, &.last, &.detached {
          fill: #CCC;
        }
      }
    }

    .dot {
      pointer-events: all;
      transition: opacity ease-in-out .25s;
      opacity: 1;

      &.new {
        opacity: 0;
      }

      &.best {
        fill: #35BF24 !important;
      }

      &.worst {
        fill: #BF2424 !important;
      }

      &.highlight {
        fill: #3382C1 !important;
      }
    }

    &.full {
      .dot {
        fill: #3382C1;
      }
    }

    text {
      fill: #CCC;
    }
  }
}
.d3-tip {
  background: #FFF;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
  padding: 5px;
  pointer-events: none;
  text-align: center;
  z-index: 1000;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #ccc;
  position: absolute;
  pointer-events: none;
}


.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
  transform: scaleY(0.5);
}


.d3-tip.animate {
  transition:opacity .25s ease-out;
}



.d3-tip h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 0em;
  margin-top: 5px;
}
.d3-tip h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: .5em;
}
.d3-tip .value{
  font-weight: 400;
}
.d3-tip ul {
  border-top: solid 1px rgba(255,255,255,.25);
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.d3-tip ul li {
  display: inline-block;
  line-height: 2em;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.d3-tip .meta-data {
  font-size: 13px;
}

#divNetworkChart {
  .data-line {
    stroke: #e6e6e5;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 0;
  }

  path {
    stroke: none;
    stroke-width: 2;
    stroke-dasharray: 1;
    fill: none;
  }

  .area {
    fill: #e6e6e5;
  }

  text {
    font-family: Arial;
    font-size: 11px;
    fill: #999999;
  }

  g.y-axis {
    g.tick {
      text {
        font-size: 12px;
      }
    }
  }

  line {
    stroke: #e6e6e5;
    stroke-width: 2;
    stroke-dasharray: (2,5);
    fill: none;
  }

  .data-point {
    stroke: #e6e6e5;
    stroke-width: 2;
    fill: #FFF;
  }
}
/***************************************************
*                   Bootstrap Table
***************************************************/
.savings-driver-lane{
  thead{
    background: #F5F7F6;
  }
}
/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 * version: 1.6.0
 * https://github.com/wenzhixin/bootstrap-table/
 */

.bootstrap-table .table {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse !important;
  border-radius: 1px;
}

.bootstrap-table
.table,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 8px !important;
}
.fixed-table-body{
  height:initial;
}
.fixed-table-loading{
  background-color: #F5F7F6;
}
.fixed-table-container {
  position: relative;
  clear: both;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border:none;
}

.fixed-table-footer,
.fixed-table-header {
  height: 37px; /*cellHeight*/
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.fixed-table-header {
  border-bottom: 1px solid #dddddd;
}

.fixed-table-footer {
  border-top: 1px solid #dddddd;
}


.fixed-table-container .no-records-found {
  text-align: center;
}

.fixed-table-pagination .pagination,
.fixed-table-pagination .pagination-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fixed-table-pagination .pagination a {
  padding: 6px 12px;
  line-height: 1.428571429;
}

.fixed-table-pagination .pagination-info {
  line-height: 34px;
  margin-right: 5px;
}

.fixed-table-pagination .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.fixed-table-pagination .dropup .dropdown-menu {
  margin-bottom: 0;
}

.fixed-table-pagination .page-list {
  display: inline-block;
}
