.tile {
  border-radius: 2px;
  border: 1px solid #CCC;
  background: #FFF;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 2em;
  position: relative;
  &.arrow{
    &::before {
      content: url('Content/img/Arrow.png');
      position: absolute;
      top: -180px;
      right: -14px;
      transform: scale(0.2);
      user-select: none;
    }
  }
  &:not(.arrow)::before {
    content: 'Arrowstream';
    position: absolute;
    top: -1.5em;
    left: 0;
    font-size: 3em;
  }

  .header {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #D8D9D8;
    padding: 5px;
  }
  .statistic {
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    .graph {
      width: 160px;
      height: 160px;
      position: relative;
      margin: 10px auto;
      font-size: 3em;
      transform: translate3d(0,0,0);
    }

  }
  .footer {
    padding: 15px;
    background: #ECEDEE;
    text-align: center;
    p {
      text-align: center;
      margin: 0;
    }
    button {
      background: #245B84;
      text-align: left;
      color: #FFF;
      display: block;
      padding: 5px;
      border: 1px solid #245B84;
      border-radius: 2px;
      width: 90%;
      margin: 1em auto;
    }
    .footer-arrow {
      margin-top: 1em;
      text-align: center;
      &::before {
        cursor: pointer;
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 1em;
        left: 0.15em;
        position: relative;
        top: 0.15em;
        transition: .3s all;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 1em;
        color: #959495;
      }
    }
    .footer-collapse {
      height: 1px;
      overflow: hidden;
      transition: .3s all;

    }
    &.open {
      .footer-collapse {
        height: 140px;
      }
      .footer-arrow {
        &::before {
          transform: rotate(135deg);
        }
      }
    }
  }
}