<div tile-hover [(value)]="collapseFooter" [ngClass]="{tile: true, arrow: position !== 0}">
    <div class="header">
        <strong>{{tile.title}}</strong>
    </div>
    <div class="statistic">
       
        <strong >{{tile.number}}</strong>
    </div>
  
</div>