﻿.network {
    margin-top: 32px;

    .panel-group .accordion {

        .expanded-pill {
            div.teaser {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            h2.teaser {
                margin: 0;
            }
        }

    }

    hr {
        margin: 10px 0; 
        border-top: 1px solid #ccc !important; 
        line-height: 17px; 
        width: 100%;
    }

    .grid-border {
        padding: 10px; 
        border-radius: 4px;
    }
    
    #divNetworkChart {
        .data-line {
            stroke: #e6e6e5;
            stroke-width: 2;
            fill: none;
            stroke-dasharray: 0;
        }

        path {
            stroke: none;
            stroke-width: 2;
            stroke-dasharray: 1;
            fill: none;
        }

        .area {
            fill: #e6e6e5;
        }

        text {
            font-family: Arial;
            font-size: 11px;
            fill: #999999;
        }

        g.y-axis {
            g.tick {
                text {
                    font-size: 12px;
                }
            }
        }
        
        line {
            stroke: #e6e6e5;
            stroke-width: 2;
            stroke-dasharray: (2,5);
            fill: none;
        }

        .data-point {
            stroke: #e6e6e5;
            stroke-width: 2;
            fill: #FFF;
        }
    }

    .expanded-pill {
        .high-low {
            .panel {
                padding: 10px 0;
            }

            .value {
                font-size: 21px;
                font-weight: $font-weight-bold;
            }

            .hl-label {
                font-size: $font-size-h6;
                font-weight: $font-weight-normal;
            }

            .icon, .hl-label, .value {
                margin-top: 8px;
                margin-bottom: 8px;
                display: block;
            }
        }

        .metric-change {
            //height: 150px;
            padding: 8px 10px;

            &.cumulative {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }

        .metric-values {
            font-size: 28px;
            line-height: 1em;

            .period-name {
                font-size: 12px;
                text-align: center;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

savings-driver-trend-chart {
    display: block;
    .trend-chart {
        display: block;
        &.buying-pattern {

            margin: 0px auto;

            .axis path,
            .axis line {
              fill: none;
              stroke: $grey;
              shape-rendering: crispEdges;
            }

            .y.axis {
                path {
                    display: none;
                }
                .tick {
                    stroke-dasharray: 1, 1;
                }
            }

            .line {
              fill: none;
              stroke: $grey;
              stroke-width: 1.5px;
            }

            &.simple {
                margin-left: 0;
                margin-right: auto;
                .dot {
                    &:not(.first):not(.last):not(.detached):not(.highlight) {
                        fill: none;
                    }
            
                    &.first, &.last, &.detached {
                        fill: $grey;
                    }
                }
            }

            .dot {
                pointer-events: all;
                transition: opacity ease-in-out .25s;
                opacity: 1;

                &.new {
                    opacity: 0;
                }

                &.best {
                    fill: $green !important;
                }
            
                &.worst {
                    fill: $red !important;
                }

                &.highlight {
                    fill: $blue !important;
                }
            }

            &.full {
                .dot {
                    fill: $blue;
                }
            }
        
            text {
                fill: $grey-med;
            }
        }
    }
    
}