﻿
@{
    Layout = null;
}

<html>
<head>
    <base href="/Freshservice/"/>
    <title>Freshservice Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/PortalWeb/bundles/css/navbar"/>
    <!-- build:css -->
    <link rel="stylesheet" href="~/ClientLib/selectize/css/selectize.css"/>
    <link rel="stylesheet" href="~/ClientLib/components-font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="~/dist/app/main.css"/>
    <!-- endbuild -->
    @Scripts.Render("~/bundles/js/bower-program")

    <!-- build:globals -->
    @Scripts.Render("~/bundles/js/program")
    <!-- endbuild -->

    <script src="/PortalWeb/bundles/js/navbar"></script>
    <!-- build:js -->
    <script src="~/config.js"></script>
    <!-- endbuild -->
    <script>
        System.import('dist/app/main.js')
            .then(null, console.error.bind(console));
    </script>
</head>

<body>
<my-app>
    <div class="loader-backdrop"></div>
    <div class="loader">
        <div class="loader-wrapper">
            <img src="Content/img/arrowstream_logo.png"></img>
            <img class="spinner fa-spin" src="Content/img/arrowstream_spinner.png">
        </div>
        <span class="subtext">Preparing application...</span>
    </div>
</my-app>
</body>
</html>
