﻿.accordion {

    div.panel-default {
        border-color: transparent;
        margin-top: 0 !important;
    }

    div.panel-default:nth-child(even) .panel-heading {
        background-color: $white;
    }

    div.panel-default:nth-child(odd) .panel-heading {
        background-color: $white;
    }

    div.panel-default:nth-child(even) .panel-collapse {
        background-color: $white;
    }

    div.panel-default:nth-child(odd) .panel-collapse {
        background-color: $white;
    }

    a {
        color:$blue;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
  
        // handy way to make links not look like links.
        &.un-anchor {
            color: inherit;
            font-weight: inherit;
            cursor: inherit;
            &:focus {
                text-decoration: none;
            }
        }
    }   
}




