﻿.toggle-switch .switch-right { 
    color: $white; 
    background: $angular-toggle-switch-right-bg-color; 
}
.toggle-switch .switch-left { 
    color: $white;
    background: $angular-toggle-switch-left-bg-color; 
}
.toggle-switch { 
    border: 0;
    cursor: pointer; 
    display: inline-block; 
    text-align: left; 
    overflow: hidden; 
    line-height: 8px; 
    min-width: 75px; 
    border-radius: 20px; 
    font-size: 12px;
    margin-top: 4px;

    .knob {
        background-color: darken(#dddddd, 5%);
        border-left: none !important;
        border-right: none !important;
    }
}