﻿.panel-group {
    margin-bottom: $line-height-computed/2;

    .panel-heading {
        border-radius: $panel-border-radius;
    }

    .panel {
        + .panel {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}

.panel-title {
    font-size: 14px;

    label {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

