﻿.progress {
    height: 30px;
    border-radius: 15px;
}

.progress-bar {
	line-height: 30px;
	font-size: 12px;
	font-weight: 700;
	text-align: initial;
	padding: 0 10px 0 15px;
}

.progress-bar-danger {
    background-color: #f16864; // TODO: Confirm color, replace with variable
}

.progress-bar-success {
    background-color: #79bf7f; // TODO: Confirm color, replace with variable
}