﻿a {
  color:$blue;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  
  // handy way to make links not look like links.
  &.un-anchor {
    color: inherit;
    font-weight: inherit;
    cursor: inherit;
    &:focus {
        text-decoration: none;
    }
  }
}