﻿.as-animate-fade-in-out {
    transition: 0.25s opacity ease-in-out;

    &.ng-enter, &.ng-hide-remove {
        opacity: 0;

        &.ng-enter-active, &.ng-hide-remove-active {
            opacity: 1;
        }
    }

    &.ng-leave, &.ng-hide-show {
        &.ng-leave-active, &.ng-hide-show-active {
            opacity: 0;
        }

    }
}