/* Alerts */
.alert {margin-bottom:$brdr-0; border-radius:$brdr-rad-4;}
.alert-danger {color:$white; background-color:$red-drk; border-color:$red-drk;}
.alert-info {border-radius:$brdr-0; background-color:$blue; color:$white;}

/* Alignment */
.center {margin:0 auto; float:none;}
.pull-left {text-align:left !important;}
.pull-right {text-align:right !important; float:right !important;}

/* Backgrounds */
.bgrnd-grey {background:$grey-lt;}
.bgrnd-grey-drk {background:$grey-med; color:$white;}
.bgrnd-red {background:$red; color:$white;}
.close.white {opacity:1;}

/* Borders */
.brdr-0 {border:$brdr-0;}
.brdr-r {border-right:$brdr-1;}
.brdr-l {border-left:$brdr-1;}
.brdr-t {border-top:$brdr-1;}
.brdr-b {border-bottom:$brdr-1;}
.brdr-dash {border:$brdr-dash-2;}

/* Buttons */
.btn-sm, .btn-group-sm>.btn {font-size: 11px;}
.btn-default {border-color:$grey;}
.btn.btn-gray {background:$grey-lt;}
.btn-default.active {box-shadow: none; background-color:$grey-lt; border-color:$grey;}
.bootstrap-select .btn {font-size:19px !important; color:$black; padding:2px 10px; background:$white;}

.back-button {
    margin-top: 15px;
    margin-right: 20px;
    float: left;
    width: 45px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: $brdr-rad-4;
    cursor: pointer;
    opacity: .6;
    transition: opacity .15s ease-out;
}
.button-arrow {
    width: 14px;
    height: 14px;
    margin: 11px auto;
    opacity: inherit;
    background-image: url(http://dev.arrowstream.com/ondemand/content/img/left-chevron.svg);
    background-size: 8px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}

/* Cards */
.card.panel.alert {padding:$p-15; margin-bottom:30px; border-radius:$brdr-rad-4; border:$brdr-1; color:$grey-drk;}
.card .btn:focus, .btn:active.focus {outline: 0 -webkit-focus-ring-color !important;}

/* Carousel */
.carousel-control.left, .carousel-control.right {background-image: none}
.carousel-control {color:$grey-med; width:0; top:35px}
.carousel-control:hover, .carousel-control:focus {color:$grey-med;}
.carousel-inner {border-top:$brdr-1; border-bottom:$brdr-1;}

/* Circles */
#circle-xs {width:12px; height:12px; padding:3px 4px 5px 4px; border-radius:$brdr-rad-6; font-weight:$fw-700; color:$white; }
#circle-icon-sm {width:25px; height:25px; border-radius:$brdr-rad-50; padding:6px 9px 5px 4px;}
#circle-icon-med {width:35px; height:35px; border-radius:$brdr-rad-50; padding:12px 6px 3px 4px;}
.circle-icon-lrg {
	width:60px; 
	height:60px; 
	border-radius:$brdr-rad-30;
	
	.red {
		background:$red;
	}
}

/* Colors */
.black {color:$black;}
.blue {color:$blue;}
.blue-drk {color:$blue-drk;}
.grey-lt {color:$grey-lt;}
.grey {color:$grey;}
.grey-med {color:$grey-med;}
.grey-drk {color:$grey-drk;}
.green {color:$green !important;}
.red {color:$red;}
.red-drk {color:$red-drk;}
.white {color:$white;}

/* File Upload */
.file-upload-box {border:$brdr-dash-2; padding:$p-20; margin-top:$m-30;}

/* Forms */
input {border:$brdr-1; border-radius:$brdr-rad-4;}
.label {font-size:90%;}
.form-inline .control-label {margin-top:$m-10;}
.form-control {border:$brdr-1;}

/* Framework */
body {overflow:auto !important; background:#white;}
.container {padding:$p-0-20; max-width: 1150px !important;}
container-fluid {position:relative; width: 100%; margin: 0 auto;}
hr {margin:$m-t-b-10; border-top:$brdr-1;}

/* Headlines */
h1, h2, h3, h4, h5, h6 {margin: 0 0 0 0;}
h1, .h1 {font-size: 52px;}
h2, .h2 {font-size: 42px;}
h2.sm, h2.sm {font-size:28px !important; margin-bottom:$m-10;}
h2.med, h2.med {font-size:32px;}
h2.red {font-weight:$fw-700; color:$red;}
h2.teaser, .h2.teaser {font-weight:$fw-700; color:$blue; text-align:center; font-size: 32px;}
h2.teaser-number, .h2.teaser-number {font-size:32px; font-weight:$fw-700; color:$blue; text-align:center !important;}
h3, .h3 {font-size: 28px;}
h4, .h4 {font-size: 22px; font-weight: 400;}
h4, .h4 .subhead {font-size: 18px; font-weight:$fw-700; margin-bottom:$m-0;}
h5, .h5 { font-size: 16px; font-weight: 900; line-height:  27px;}
h5 {text-align:left !important;}
h5.teaser, .h5.teaser {color:$black; font-weight:$fw-700;}
h6, .h6 {font-size: 16px; line-height:  27px; text-transform: uppercase; font-weight: 900;}

.admin h3 {font-size:32px;}
.admin h4, .h4 {font-size:18px; font-weight:$fw-400;}
.admin h5, .h5 {font-size:14px; font-weight:$fw-700; text-align:left !important; margin-bottom:$m-0;}
.registered h6 {font-size:14px; font-weight:$fw-400; text-align:center; text-transform: initial;}
.spotlight h3 {font-size:18px; font-weight:$fw-700;}
.spotlight h4 {font-size:14px; font-weight:$fw-400; line-height:1.5em;}
.spotlight h5 {font-weight:$fw-700; margin-bottom:$m-0;}
.spotlight h6 {font-size:20px; font-weight:$fw-700; color:$grey-med; text-align:center;}
.spotlight h4 a {font-weight:$fw-400;}
.spotlight h4 a:hover {text-decoration:underline; font-weight:$fw-400; color:$black;}

/* Icons */
.chevron-large-red {color:$red; font-size:18px !important;}
.chevron-small-red {color:$red; font-size:11px !important;}
.chevron-large-green {color:$green; font-size:18px !important;}
.chevron-small-green {color:$green; font-size:11px !important;}

/* Links */
a {color:$blue; text-decoration: none; font-weight: 600; cursor: pointer;}
a:visited {}
a:hover, a:active {outline: 0; color:$blue;}
a:hover {text-decoration:underline;}

/* Margins */
.m-r-0 {margin-right:$m-0;}
.m-l-0 {margin-left:$m-0;}
.m-b-0 {margin-bottom:$m-0;}
.m-t-5 {margin-top:$m-5;}
.m-t-10 {margin-top:$m-10;}
.m-t-15 {margin-top:$m-15;}
.m-t-20 {margin-top:$m-20;}
.m-t-30 {margin-top:$m-30;}
.m-t-40 {margin-top:$m-40;}
.m-t-50 {margin-top:$m-50 !important;}
.m-t-200 {margin-top:$m-200;}
.m-r-10 {margin-right:$m-10;}
.m-b-10 {margin-bottom:$m-10;}
.m-b-20 {margin-bottom:$m-20;}
.m-b-30 {margin-bottom:$m-30;}

/* Modal */
.modal-title {font-size:30px;}
.modal h5 {font-size:28px; font-weight:$fw-400; text-align:center; color:$blue;}
.modal-backdrop {opacity: .2 !important;}
.modal-content {border: $brdr-0; border-radius: $brdr-rad-4; box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);}
.modal-dialog {padding-top: $p-60;}
.modal-footer {border-top:$brdr-0; padding-top:$p-0; padding-left:18px; padding-right:18px; padding-bottom:$p-20;}
.modal-footer .modal-footer .btn-default.btn-simple {font-weight: $fw-400;}
.modal.fade .modal-dialog {transform: none; -webkit-transform: none; -moz-transform: none;}
.modal.in .modal-dialog {transform: none; -webkit-transform: none; -moz-transform: none;}
.modal-small{
    .modal-dialog {
        max-width: 350px;
    }
}
.modal-small {
    .divider {
        margin: 0 auto;
        display: block;
        width: 14px;
        position: relative;
        margin-top: $m-40;
        margin-bottom: $m-30;
        font-size: $font-paragraph;
    }
    .divider:after {
        position: absolute;
        content: "";
        right: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $gray-lighter;
    }
    .divider:before {
        position: absolute;
        content: "";
        left: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $gray-lighter;
    }
    .modal-footer {
        text-align: center;
    }
}
.social-area {
    text-align: center;
    
    .btn-social{
        margin: 0 10px;
    }
}

.modal-backdrop {bottom: 0;}
.modal-backdrop.in {opacity: 0.25;}

/* Navigation */
//.nav-inner ul.nav-item-list li.item a {font-size: 14px !important;}
.nav-pills>li+li {margin-left:$m-20}
.nav-pills>li a {font-weight:$fw-400; font-size:14px;}
.centered-pills {text-align: center}
.centered-pills ul.nav-pills {display: inline-block}
.centered-pills li {display: inline}
.centered-pills div p,.centered-pills div h1,.centered-pills div h2,.centered-pills div h3,.centered-pills div h4,.centered-pills div h5,.centered-pills div h6 {text-align: left;}
.centered-pills a {float: left}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {display: inline}
.nav-pills>li>a {padding: 5px 10px;}
ul.nav-item-list li.item a, .dropdown-menu li a {font-weight:$fw-400;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-top:$brdr-1; border-top:$brdr-1; border-top:$brdr-1;}
.nav-tabs {border-bottom:$brdr-1;}
.nav-inner .btn-nav {font-size: 12px !important;}
.nav>li>a:hover,.nav>li>a:focus {border:$brdr-0;}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {color:$white; background-color:$blue;}

.nav-tabs{border-bottom: solid 1px $gray-lighter;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color:$gray-darker; border:solid 1px $gray-lighter; border-bottom:solid 1px transparent;}
.nav {  
  > li {  
    > a {
      &:hover,
      &:focus {
        background-color: $smoke-bg;
        border:1px solid $smoke-bg;
        border-bottom:0;
      }
    }
    }
}

/* Padding */
.p-r-0 {padding-right:$p-0;}
.p-l-0 {padding-left:$p-0;}
.p-b-0 {padding-bottom:$p-0;}
.p-20 {padding:$p-20;}
.p-30 {padding:$p-30;}
.p-l-15 {padding-left:$p-15;}
.p-t-10 {padding-top:$p-10;}
.p-b-10 {padding-bottom:$p-10;}
.p-t-5 {padding:$p-5;}
.p-t-10 {padding-top:$p-10;}
.p-t-15 {padding-top:$p-15;}
.p-t-20 {padding-top:$p-20;}
.p-10 {padding:$p-10;}

/* Panels */
.panel-default>.panel-heading {color:$grey-drk; background-color:$grey-lt; border-color:$grey-lt;}
.panel-default-dark>.panel-heading {color:$white; background-color:$grey-med; border-color:$grey-lt;}
.panel-danger>.panel-heading {color:$white; background-color:$red; border-color:$grey-lt;}
.panel-danger, .panel-default-dark {border-color:$grey-lt;}
.panel-dark {background-color:$grey-med; color:$white;}
.panel-dark a {color:$white;}
.panel {box-shadow: none;}
.panel-footer {background-color:$white; border:$brdr-0;	}
.panel-grey-lt {background-color:$grey-lt;}
.panel.red {background-color: $red; color:$white; padding:$p-10; text-align:center !important;}
.panel.green {background-color: $green; color:$white !important; padding:$p-10; text-align:center !important;}

/* Pills */
.centered-pills .nav-tabs>li>a:hover {border:$brdr-0;}
.centered-pills .nav > li > a:hover, .centered-pills .nav > li > a:focus {border:$brdr-0;}

/* Progress Bar*/
.progress {height:30px; border-radius:$brdr-rad-15;}
.progress-bar {line-height:30px; font-size:12px; font-weight:$fw-700; text-align: initial; padding:$p-0-10-15;}
.progress-bar-danger {background-color:$red !important;}
.progress-bar-success {background-color:$green;}

/* Placeholders */
%pseudo-block {content: ''; display: block; position: absolute; top: 0; left: 0;}
%layer-over {box-shadow: 0px 3px 4px rgba(0,0,0,0.25); border-radius: $brdr-rad-6;}
%arrow-right {width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 8px solid #fff;}

/* Sections */
.lane {margin: 25px auto; max-width: 1150px;}
.pre-login {background:$grey-lt;}
.program {margin: 50px auto; max-width: 1150px;}
.program .panel {border:none; background:$grey-lt}
.support .panel {border:none; background:$grey-lt; margin-bottom:$m-0;}
.map {background:#dfebf5; padding:$p-50-0;}
.spotlight .panel-body {padding-bottom:0;}
.registered {margin: 25px auto; max-width: 1150px;}
.registered hr {margin:$m-t-b-20;}
.settings table tr td {padding-left:10px !important;}

/* Sidebar */
.sidebar-left {position: fixed; top: 76px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px 0 20px 20px; overflow-x: hidden; overflow-y: auto; border-right:$brdr-1;}
.sidebar-right {position: fixed; top: 76px; bottom: 0; right: 0; z-index: 1000; display: block; padding:$p-20; overflow-x: hidden; overflow-y: auto; background:$grey-lt;}
.sidebar-left a {font-weight:$fw-400;}

/* Tabs */
.tab-content>.tab-pane {margin-top:$m-15;}

/* Table */
table th, table td {font-size:12px !important;}
table td {line-height: 14pt !important; padding:$p-10-20;}
.bootstrap-table .table thead > tr > th, .bootstrap-table .table > tbody > tr > td {text-align:left !important;}

/* Teaser */
.teaser.panel {text-align:center; border-right:$brdr-1; border-left:$brdr-1; margin:$m-0;}
.teaser.panel.no-border {border-right:$brdr-0; border-left:$brdr-0;}

/* Toggle */
.toggle.ios, .toggle-on.ios, .toggle-off.ios {border-radius: $brdr-rad-20;}
.toggle.ios .toggle-handle {border-radius: $brdr-rad-20;}

/* Type */
.lead {font-weight:$fw-400; margin-bottom: $m-20; font-size: 1.2em; line-height: 1.5em;}
p {margin: 0 0 10px 0;}
p.large {font-size:16px !important;}
.fw400 {font-weight:$fw-400;}
.fw700 {font-weight:$fw-700;}

/* Validation */
.input-validation-error, .input-validation-error:focus{color: $brand-danger;  border-color: $brand-danger; border: 1px solid $brand-danger !important;}
.field-validation-error {color: $brand-danger; border-color: $brand-danger;}

/* Media Queries */
@media (max-width: 769px) {
	.sidebar-right, .sidebar-left {position:static; top:0; padding:$p-0; background:transparent; border-right:$brdr-0;}
	.teaser.panel {border:$brdr-0;}
}

.panel.red {background-color:$red; color:#fff; padding:10px;}
.panel.green {background-color:$green; color:#fff !important; padding:10px;}