// General
// ==============================================================================
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
*, 
*:before, 
*:after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;

}

body {
  -webkit-font-smoothing: antialiased;
  color: rgba(0,0,0, .75);
  //font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow:hidden;
  //cursor: url('../img/cursor.png') 39 39, auto;
}

img {
  width: 100%;
}

a {
  color:$blue;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  
  // handy way to make links not look like links.
  &.un-anchor {
    color: inherit;
    font-weight: inherit;
    cursor: inherit;
    &:focus {
        text-decoration: none;
    }
  }
}


// Page root 
// ==============================================================================
.root {
  z-index: 1;
  overflow-x:hidden;
  overflow-y: auto;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: $body-bg;
}

.expand-root {
  z-index: 1;
  overflow-x:hidden;
  overflow-y: auto;
  position: relative;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: $white;
}



// Custom Select Boxes 
// ==============================================================================


.styled-select{
  min-width:125px;
  position: relative;
  height: 36px;
  background-color:#efeeee;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 4px;
  
  .styled-select-text{
    pointer-events:none;
    cursor: pointer;
    position: absolute;
    top:8px;
    left:12px;
    color:$blue;
    font-weight: 700;
    font-size: 12px;
  }

  select{
    cursor: pointer;
    
    width: 100%;
    height: 35px;
    border: 0;
    line-height: 1.5;

    border: none; 
    background: 
    none; outline: 
    none; opacity: 0; 
    -webkit-appearance: none; 
    filter: alpha(opacity=0); 
    
  }
  &:after{
    width:9px;
    height: 9px;
    content: "";
    top:12px;
    right:12px;
    position: absolute;
    background: transparent url("../img/dd-chevron.svg") no-repeat;
    background-position: 90% center;
    background-size: 8px 5.4px;
  
  }
}



.break{
  width:100%;
  height: 1px;
  border-top:solid 1px $rule-color;
   transform-origin: left center;
}

// Base Table Styles
// ==============================================================================


table {
  max-width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
  color:rgba(0,0,0,.75);
}
table {
  width: 100%;
  margin-bottom: 14pt;
}
table th{
  padding: 8px 20px;
  font-size: 12px;
  line-height: 18pt;
  vertical-align: top;
  border-bottom: 1px #eaeaea solid;
}
table td {
  padding: 8px 20px;
  font-size: 12px;
  line-height: 32pt;
  vertical-align: top;
  border-bottom: 1px #eaeaea solid;
}
table th[class*="span"],
table td[class*="span"] {
  display: table-cell !important;
  float: none !important;
  margin: 0;
}
table thead th {
  vertical-align: bottom;
}
table thead th,
table thead td {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
table tbody tr:last-child td {
  border-bottom: 0;
}
table tbody + tbody {
  border-top: 2px solid #eaeaea;
}
table tfoot th,
table tfoot td {
  border-top: 1px solid #111111;
}
table .table {
  background-color: #bfbfbf;
}
table.condensed th,
table.condensed td {
  padding: 4px 5px;
}
table.condensed th .input-control,
table.condensed td .input-control {
  margin: 0;
}
table.super-condensed th,
table.super-condensed td {
  padding: 2px;
}
table.super-condensed th .input-control,
table.super-condensed td .input-control {
  margin: 0;
}
table.striped tbody tr:nth-child(odd) {
  background: #eeeeee;
}
table.bordered {
  border: 1px #eaeaea solid;
  border-left: 0;
}
table.bordered td,
table.bordered th {
  border-left: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
}
table.no-border td,
table.no-border th {
  border: 0;
}
table.border {
  border: 1px #eaeaea solid !important;
}
/*
table.hovered tbody tr:hover {
  background-color: lighten($blue, 50%);
}
*/

table tr.selected {
  background-color: rgba(28, 183, 236, 0.1);
}


// Tool Tip Styles
// ==============================================================================



.d3-tip {
  background: $white;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: $text-dark;
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
  padding: 5px;
  pointer-events: none;
  text-align: center;
  z-index: 1000;  
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #ccc;
  position: absolute;
  pointer-events: none;
}


.d3-tip.n:after {
    content: "\25BC";
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
    transform: scaleY(0.5);
}


.d3-tip.animate {
   transition:opacity .25s ease-out;
}



.d3-tip h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 0em;    
    margin-top: 5px;
}
.d3-tip h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: .5em;
}
.d3-tip .value{
  font-weight: 400;
}
.d3-tip ul {
    border-top: solid 1px rgba(255,255,255,.25);
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.d3-tip ul li {
    display: inline-block;
    line-height: 2em;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.d3-tip .meta-data {
    font-size: 13px;  
}

.caret-up {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    width:5px;
    content:'';
    bottom:2px;
    left: 7px;
    width: 0; 
    height: 0; 
    border-top: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;  
    border-bottom: 5px solid $green;
}

.caret-down {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    width:5px;
    content:'';
    bottom:2px;
    left: 7px;
    width: 0; 
    height: 0; 
    border-top: 5px solid $red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;  
    border-bottom: 0px;
}

.accordion {
    .float-left > div.toggle-switch {
        float: left;
    }
    .float-right > div.toggle-switch {
        float: right;
    }
}

.tile-settings-label {
    margin-top: 5px; 
    padding-right: 10px;
}

div.panel-collapse > div.panel-body > ul {
    list-style-type: none;
    padding-left: 0;
    li > span {
        padding-left: 0px;
        padding-bottom: 9px;
    }
}

.grid-label {
    padding: 0;
}

div.dropdown-menu > ul.inner > li {
    font-size: 12px;
}