// Nav menu
// ==============================================================================
#main-menu {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    width: auto;
    height: 100%;
}

#main-menu ul {
        width: 12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
}
#nav {
    height: 75px;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 499;
    min-width: 500px;
}
.nav-inner {
    $dark-blue: #293240;

    $nav-color-base: rgba(255, 255, 255, 0.4);
    $nav-color-active: rgba(255, 255, 255, 1);
    $nav-color-search-box: rgba(255, 255, 255, 0.2);
    $nav-background: $dark-blue;
    $nav-height: 75px;

    $nav-font-size: $font-size-small;
    $nav-font-family: $font-family-sans-serif;
    $nav-font-weight: $font-weight-bold;

    $nav-icon-color: #fff;
    $nav-icon-height: 32px;

    $nav-selectize-highlight-color: $yellow;

    $nav-search-term-color: #777c85;
    $nav-search-background: #39424f;

    
    position: absolute;
    width: 100%;
    z-index: 499;
    top: 0;
    right: 0;
    height: $nav-height;
    background-color: $nav-background;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
    .nav-logo {
        width: 153.163px;
        height: 19.151px;
        background-size: 153.163px 19.151px;
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
        margin-top: 30px;
        margin-left: 10px;
        cursor: pointer;
    }
    .home-icon {
        width: 14px;
        height: 14px;
        opacity: 0;
        float: left;
        margin-top: 32px;
        margin-left: .5em;
        background-image: url(../img/home-icon.svg);
        background-size: 12px 10.6px;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.2s;
        &:hover {
            opacity: .3;
        }
    }
    ul.nav-item-list {
        position: relative;
        height: 100%;
        display: table;
        margin: 0;
        padding: 0;
        float: right;
        margin-right: 12px;
        
        &>li {
            display: table-cell;
            margin-right: 15px;
            //text-align: center;  removed to correct search menu
            border-bottom: 1px solid transparent;
            vertical-align: middle;
            padding-right: 25px;
            height: 100%;
            color: $nav-color-active;
            opacity: .4;
            transition: all 0.2s;            
            &:hover {
                color: $nav-color-active;
                opacity: 1;
            }
            &:active {
                color: $nav-color-active;
                opacity: 1;
            }
            a {
                font-family: $nav-font-family;
            }

        }

        li.active {
            color: $nav-color-active;
            opacity: 1;
        }
        li.item {
            font-weight: $nav-font-weight;

            .nav-item-text {
                position: relative;
                top: 1px;
            }

            .icon {
                width: $nav-icon-height;
                height: $nav-icon-height;
                display: inline-block;
                vertical-align: middle;
                background-position: center center;
                background-repeat: no-repeat;
            }
            a {                
                font-size: $nav-font-size;
                font-weight: $nav-font-weight;
                display: inline-block;
                text-decoration: none;
                vertical-align: middle;
                color: $nav-icon-color;
                padding-top: 9px;
                padding-bottom: 9px;
                &:hover {
                    color: $nav-color-active;
                }
            }
        }
        /*Keep the selectize drop down from fading when user moves off it*/
        li.nav-search {
            opacity: 1;
        }
        i.icon-nav-tiles {
            width: 22px !important;
            margin-top: 25px;
        }
 
        .icon-nav-tasks {
            background-image: url(../img/tasks-nav-icon.svg);
            background-size: 17.7px 18px;
        }
        .icon-nav-more {
            background-image: url(../img/more-nav-icon.svg);
            background-size: 22.7px 4px;
        }
        .icon-nav-user {
            background-image: url(../img/user-nav-icon.svg);
            background-size: 14.2px 16px;
        }
 
    }

     ul.nav-platform-menu-list {
        position: relative;
        height: 100%;
        display: table;
        margin: 0;
        padding: 5px;
        float: left;
        margin-right: 12px;
        margin-top: 13px;

        li {
            a {
                color: white;
            }
        }

        span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 4px 0;
            background: white;
            z-index: 499;
        }
    }

    .btn-nav {
        $btn-font-color: $nav-color-active;
        @include button-variant($btn-font-color, $nav-background, $nav-background);

        font-size: $nav-font-size;
        font-weight: $font-weight-bold;

        &:hover, &:focus, &:active {
            background-color: $nav-background;
            border-color: $nav-background;
        }
    }

    .dropdown-menu {
        color: $nav-color-active;
        background-color: $nav-background;
        margin: 0;

        li {
            &:hover {
                background-color: darken($nav-background, 5%);
            }

            a {
                width: 100%;
                padding: 3px 20px;
                font-weight: $nav-font-weight;
                color: $nav-color-base !important;
                &:hover {
                    color: $nav-color-active !important;
                    background-color: inherit;
                }
            }
        }

        li.divider, .divider:hover {
            background-color: $nav-color-base;
            margin: 0;
        }
    }

    #user-menu-dropdown {
        height: ($nav-height - 1px);
        .dropdown-menu{
            width: 100px;
        }
    }

    .selectize-input {
      opacity: 1;
      color: $nav-color-active;
      background-color: $nav-color-search-box;
      border: 0;
      min-height: inherit !important;
      input{
          color: $nav-color-active;
          text-align: left !important;
      }
    }

    .selectize-input {
        background-color: $nav-search-background;
    }
    .selectize-dropdown-content {
      font-size: $nav-font-size;
      padding: 3px 3px !important;
      text-align: left !important;      
    }

    .selectize-dropdown [data-selectable] .highlight {
      background: $nav-selectize-highlight-color;
    }

    /*Changes placeholder text*/
    input::-webkit-input-placeholder { /* WebKit browsers */
        color:  $nav-search-term-color !important;
        /*opacity: 1 !important;*/
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:  $nav-search-term-color !important;
       /*opacity: 1 !important;*/
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:  $nav-search-term-color !important;
       /*opacity: 1 !important;*/
    }
    input:-ms-input-placeholder { /* Internet Explorer 10+ */
       color:  $nav-search-term-color !important;
       /*opacity: 1 !important;*/
    }
    
}
#sub-nav {
    position: absolute;
    top: 25px; 
    width: 100%;
    height: 50px;
    z-index: 3;
}

