// Original
// ==============================================================================
$blue-gradient: linear-gradient(to right bottom, #2FB2D3 0%, #3285C1 100%);
$blue-gradient-fallback-color: #319CCA;
$graph-back-color: #dcdcdc;

$angular-toggle-switch-left-bg-color: #51b77f;
$angular-toggle-switch-right-bg-color: #ed1c24;

$as-danger-color: #f16864;
$as-danger-background-color: #fff;
$as-danger-border-color: #fff;

// Added by Brian
// ==============================================================================
/* Border */
$brdr-0: 			0;
$brdr-1: 			1px solid #ccc;
$brdr-dash-2: 		2px dashed #ccc;
$brdr-rad-4: 		4px;
$brdr-rad-6: 		6px;
$brdr-rad-15: 		15px;
$brdr-rad-20: 		20px;
$brdr-rad-30: 		30px;
$brdr-rad-50: 		50%;

/* Colors */
$black: 			#444;
$blue: 				#2e83c1;
$blue-drk: 			#293240;
$grey-lt: 			#f7f7f7;
$grey: 				#ccc;
$grey-med: 			#999;
$grey-drk: 			#666;
$green: 			#51b77f;
$red: 				#f16864;
$red-drk: 			#ed1c24;
$white: 			#fff;
$yellow: 			#f4ce11;
$orange: 			#ff9500;
$text-dark: 		#444;
$rule-color: 		rgba(0,0,0,0.12);

/* Margins */
$m-0: 				0;
$m-5: 				5px;
$m-10: 				10px;
$m-15: 				15px;
$m-20: 				20px;
$m-30: 				30px;
$m-40: 				40px;
$m-50: 				50px;
$m-200: 			200px;
$m-t-b-10: 			10px 0;
$m-t-b-20: 			20px 0;
$m-t-r-b-l: 		1px 5px 0 0;

/* Padding */
$p-0: 				0;
$p-5: 				5px;
$p-10: 				10px;
$p-15: 				15px;
$p-20: 				20px;
$p-30: 				30px;
$p-40: 				40px;
$p-50: 				50px;
$p-60: 				60px;
$p-0-20: 			0 20px;
$p-10-20: 			10px 20px;
$p-0-10-15: 		0 10px 0 15px;
$p-50-0: 			50px 0;

/* Type */
$fw-400: 			400;
$fw-600: 			600;
$fw-700: 			700;