﻿/* ------------------------- Alerts ---------------------------- */
.alert{
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    .container &{
        //border-radius: 4px;
    
    }
    .navbar &{
        border-radius: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 85px;
        width: 100%;
        z-index: 3;
    }
    .navbar:not(.navbar-transparent) &{
        top: 70px;
    }
}
.alert-info{
     background-color: $brand-info;
}
.alert-success {
    background-color: $brand-success;
}
.alert-warning {
     background-color: $brand-warning;
}
.alert-danger {
    color: $as-danger-color;
    background-color: $as-danger-background-color;
    border-color: $as-danger-border-color;
}

.alert-dismissible {
  padding-right: ($alert-padding + 20);
  
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    opacity: .3;
    &:hover{
        opacity: .6;
    }
  }
}