﻿/* ---------------------- Badges -----------------------*/

.badge {

    text-align: left;   
    cursor: default;
    overflow: hidden;   
    position: relative;        
    margin: 5px 3px 5px 0;
    background-color:#fff; 
    padding: 0;
    border: 1px solid $blue;
    border-radius: 10px;
    color: $blue;
    font-weight: $font-weight-normal;
    font-size: 75%;
    display: inline-block;
    vertical-align: middle;

    .content{
        background-color:$blue;
        color:#fff;    	
        line-height: 2em;    	
        padding: $padding-base-vertical  $padding-base-horizontal;    	
    }
    .count{
        line-height: 2em;
        padding: $padding-base-vertical  $padding-small-horizontal;    	
        color: $blue;
        font-weight: $font-weight-semi;
    }
    &:hover{
        color:$blue;
    }

    &.badge-blue {
        border: solid 1px $blue;    	
        .content{
            background-color:$blue;
        }
        .count{
            color:$blue;
        }
    }
    &.badge-green {
        border: solid 1px $green;
        .content{
            background-color:$green;
        }
        .count{
            color:$green;
        }
    }
    &.badge-light-blue {
         border: solid 1px $light-blue;
        .content{
            background-color:$light-blue;
        }
        .count{
            color:$light-blue;
        }
    }
    &.badge-orange {
        border: solid 1px $orange;
        .content{
            background-color:$orange;
        }
        .count{
            color:$orange;
        }
    }
    &.badge-red {
        border: solid 1px $red;
        .content{
            background-color:$red;
        }
        .count{
            color:$red;
        }
    }
}