﻿/*
* bootstrap-table - v1.5.0 - 2014-12-12
* https://github.com/wenzhixin/bootstrap-table
* Copyright (c) 2014 zhixin wen
* Licensed MIT License
*/

.bootstrap-table .table {
    margin-bottom: 0!important;
    border-collapse: collapse!important;
    border-radius: 1px;
}

.fixed-table-container {
    position: relative;
    clear: both;    
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-radius: 0px; 

    .btn.btn-default {
        background: transparent;
        background-color: transparent;
        color: $text-dark;
        box-shadow: none;

         &:hover{
            background-color: $body-bg;
            color: $text-dark;
            box-shadow: none;
        }
    }
}

.fixed-table-header {
    overflow: hidden;    
}

.fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

.fixed-table-container table {
    width: 100%;
}

.fixed-table-container thead th {
    height: 0;
    padding: 0;
    margin: 0;
}

.fixed-table-container thead th:first-child {
    border-left: none;
}

.fixed-table-container thead th .th-inner {
    padding: 8px;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:$gray-darker;
}
    
.fixed-table-container thead th .sortable {
    cursor: pointer;
    &:hover{
        color:$blue;
    }
}

.fixed-table-container tbody td {
   // border-left: 1px solid #ddd;
}

.fixed-table-container tbody tr:first-child td {
    border-top: none;
}

.fixed-table-container tbody td:first-child {
    border-left: none;
}

.fixed-table-container tbody .selected td {
    background-color: #f5f5f5;
}

.fixed-table-container .bs-checkbox {
    text-align: center;
}

.fixed-table-container .bs-checkbox .th-inner {
    padding: 8px 0;
}


.fixed-table-container input[type=checkbox],.fixed-table-container input[type=radio] {
    margin: 0 auto!important;
}

.fixed-table-container .no-records-found {
    text-align: center;
}

.fixed-table-pagination .pagination,.fixed-table-pagination .pagination-detail {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.fixed-table-pagination .pagination a {
    padding: 6px 12px;
    line-height: 1.428571429;
    &:hover{
        background-color:$smoke-bg;
    }
}

.fixed-table-pagination .pagination-info {
    line-height: 34px;
    margin-right: 5px;
    font-size:$font-size-small;
}

.fixed-table-pagination .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.fixed-table-pagination .dropup .dropdown-menu {
    margin-bottom: 0;
}

.fixed-table-pagination .page-list {
    display: inline-block;
    font-size:$font-size-small;
}

.fixed-table-toolbar .columns-left {
    margin-right: 5px;
}

.fixed-table-toolbar .columns-right {
    margin-left: 5px;
}

.fixed-table-toolbar .columns label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
}

.fixed-table-toolbar .bars,.fixed-table-toolbar .columns,.fixed-table-toolbar .search {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
}

.fixed-table-pagination li.disabled a {
    pointer-events: none;
    cursor: default;
}

.fixed-table-loading {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    text-align: center;
}

.fixed-table-body .card-view .title {
    font-weight: 700;
    display: inline-block;
    min-width: 30%;
    text-align: left!important;
}

.fixed-table-body thead th .th-inner {
    box-sizing: border-box;
}

.table td,.table th {
    vertical-align: middle;
    box-sizing: border-box;
}

.fixed-table-toolbar .dropdown-menu {
    text-align: left;
    max-height: 300px;
    overflow: auto;
}

.fixed-table-toolbar .btn-group>.btn-group {
    display: inline-block;
    margin-left: -1px!important;
}

.fixed-table-toolbar .btn-group>.btn-group>.btn {
    border-radius: 0;
}

.fixed-table-toolbar .btn-group>.btn-group:first-child>.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fixed-table-toolbar .btn-group>.btn-group:last-child>.btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bootstrap-table .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.bootstrap-table .table thead>tr>th {
    padding: 0;
    margin: 0;
}

.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

p.fixed-table-scroll-inner {
    width: 100%;
    height: 200px;
}

div.fixed-table-scroll-outer {
    top: 0;
    left: 0;
    visibility: hidden;
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.pagination.pagination-no-border > li > a,
.pagination.pagination-no-border > li > span{
    border: 0;
}
.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    
    
    color: $brand-primary;
}
.pagination > li.active > a, .pagination > li.active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
    background-color: $brand-primary;
    
    color: #FFFFFF;
    //padding: 7px 13px;
}

.fixed-table-footer{
    font-weight: 700;
}