﻿// General 
// ==============================================================================
$nav-height: 75px;
#view {
    height: calc(100% - #{$nav-height});
    width: 100%;
    position: absolute;
    z-index: 1;
}


@media all and (max-width: 960px) {
    .grid .tile {
        width: 50%;            
    }
}
@media all and (max-width: 600px) {
    .grid .tile {
        width: 100%;
    }
}

/*------------------------------ Content ------------------------- */

.nav-tabs{
    border-bottom: solid 1px $gray-lighter;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color:$gray-darker;
    border:solid 1px $gray-lighter;
    border-bottom:solid 1px transparent;
}
.nav {  
  > li {  
    > a {
      &:hover,
      &:focus {
        background-color: $smoke-bg;
        border:1px solid $smoke-bg;
        border-bottom:0;
      }
    }
    }
}


.modal-content {
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.modal-dialog {
    padding-top: 60px;
}
.modal-footer {
    border-top: 0 none;
    padding-top: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
}
.modal-footer .modal-footer .btn-default.btn-simple{
    font-weight: 400;
}

.modal.fade .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal.in .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal-small{
    .modal-dialog{
        max-width: 350px;
    }
}
.modal-small{
    .divider{
        margin: 0 auto;
        display: block;
        width: 14px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: $font-paragraph;
    }
    .divider:after{
        position: absolute;
        content: "";
        right: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $gray-lighter;
    }
    .divider:before{
        position: absolute;
        content: "";
        left: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $gray-lighter;
    }
    .modal-footer{
        text-align: center;
    }
}
.social-area{
    text-align: center;
    
    .btn-social{
        margin: 0 10px;
    }
}

.modal-backdrop {
    bottom: 0;
}

.modal-backdrop.in {
    opacity: 0.25;
}

.panel {
    box-shadow: none;
}

.panel-footer {	
    background-color: #fff;
    border:none;	
}
