﻿/*------------------------------ DatePicker ------------------------- */
.ui-datepicker {
    width: 250px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;	
    box-shadow: 0 5px 20px #a7a7a7;
    background-color:#fff;
    padding:20px;
    border-radius:4px;
    font-family:"Open Sans";
    display:none;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
}
.ui-datepicker-header {
    
    color: $gray-dark;	
    font-weight: $font-weight-normal;
    font-size: $font-size-h5;
    background-color:#fff;	
}

.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;	
    color:transparent !important;
    overflow: hidden;
}
.ui-datepicker-prev {
    float: left;
    position: relative;
    background-position: center -30px;
}
.ui-datepicker-prev:before{
    font-family: "FontAwesome";
   content: "\f053";   
   color:$gray-darker;
   vertical-align: middle;
   position: absolute;
   top:-2px;
   left:0px;   
   width:30px;
   height:30px;
   line-height: 30px;
   text-align:center;
   font-size: 14px;
}

.ui-datepicker-next {
    float: right;	
    position: relative;
}
.ui-datepicker-next:after{
    font-family: "FontAwesome";
   content: "\f054";   
   color:$gray-darker;
   vertical-align: middle;
   position: absolute;
   top:-2px;
   left:0px;   
   width:30px;
   height:30px;
   line-height: 30px;
   text-align:center;
   font-size: 14px;
}
.ui-datepicker thead {
    background-color: #fff;	
    
}
.ui-datepicker th {	
    font-size: $font-size-small;	
    text-align:center;
    height:26px;	
    color: $gray-dark;
}
.ui-datepicker tbody td {
    //padding: 5px;	
}
.ui-datepicker tbody td:last-child {
    border-right: 0px;
}
.ui-datepicker tbody tr {
    text-align:center;
}
.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: $font-weight-normal;
    text-align: center;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px;
    color: $gray-light;
    vertical-align:middle;
}
.ui-datepicker-calendar .ui-state-default {
    background: transparent;
    box-shadow:none;
    border:none;
    border-radius:2px;
    line-height: 30px;	
}
.ui-datepicker-calendar .ui-state-hover {
    background: #eee;

}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
    &:focus{
        border-color:$blue;
    }	
}
.ui-datepicker-calendar .ui-state-active {
    background: $brand-primary;	
    color: #fff;		
    border:  1px solid rgba(86, 61, 124, .2);
    position: relative;
    margin: -1px;
    font-weight:$font-weight-bold;
    border-radius:2px;
}
.ui-datepicker-unselectable .ui-state-default {
    background: $smoke-bg;
    color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}
.ui-datepicker-today {
    background-color:#eee !important;	
    border-radius:2px !important;
}

.ui-datepicker-today > a{
    font-weight:$font-weight-bold !important;	
}
