﻿ /*  ------------------------ Inputs -------------------------------------*/

@mixin input-size($padding-vertical, $padding-horizontal, $height){
    padding: $padding-vertical $padding-horizontal;
    height: $height;
}

@mixin placeholder($color, $opacity){
   color: $color;
   @include opacity(1);
}

@mixin light-form(){
    border-radius: 0;
    border:0;
    padding: 0;
    background-color: transparent;
}

.form-control::-moz-placeholder{
   @include placeholder($gray-lighter,1);
}
.form-control:-moz-placeholder{
   @include placeholder($gray-lighter,1);
}  
.form-control::-webkit-input-placeholder{
   @include placeholder($gray-lighter,1); 
} 
.form-control:-ms-input-placeholder{
   @include placeholder($gray-lighter,1);
}

.form-control {
    background-color: #fff;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    color: #444444;
    @include input-size($padding-base-vertical, $padding-base-horizontal, $height-base);
    @include box-shadow(none);
    
    &:focus{
           background-color: #fff;
           border: 1px solid $brand-primary;
           @include box-shadow(none);
           outline: 0 !important;       
    }
    
    .has-success &,
    .has-error &,
    .has-success &:focus,
    .has-error &:focus{
        border-color: $gray-light;
        @include box-shadow(none);
    }
    
    .has-success &{
        color: $brand-success;
    }
    .has-success &:focus{
        border-color: $brand-success;
    }
    .has-error &{
        color: $brand-danger;
        border-color: $brand-danger;
    }
    .has-error &:focus{
        border-color: $brand-danger;
    }
    
    & + .form-control-feedback{
        border-radius: $border-radius-large;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        margin-top: -18px;
        position: absolute;
        right: 8px;
        top: 50%;
        vertical-align: middle;
    }

    
    .open &{
       // border-radius: $border-radius-base $border-radius-base 0 0;
        border-bottom-color: transparent;
    }

}
.has-feedback label ~ .form-control-feedback{
        top:42px;
    }

.input-lg{
    height: 55px;
    padding: $padding-large-vertical $padding-large-horizontal;
}

.has-error{
    .form-control-feedback{
        color: $brand-danger;

    }
}
.has-success{
    .form-control-feedback{
        color: $brand-success;
    }
}



.input-group-addon {
    background-color: #fff;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    
    .has-success &,
    .has-error &{
        background-color: #fff;
        border: 1px solid $gray-lighter;
    }
    .has-error .form-control:focus + &{
        border-color: $brand-danger;
        color: $brand-danger;
    }
    .has-success .form-control:focus + &{
        border-color: $brand-success;
        color: $brand-success;
    }
    .form-control:focus + &,
    .form-control:focus ~ &{
        background-color: #fff;
        border-color: $blue;
    }
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0 none;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
    border-left: 0 none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f4f6f6;
    color: $gray-lighter;
    cursor: not-allowed;
    font-weight: $font-weight-normal;
    opacity: .6;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
    border:solid 1px $gray-lighter;
}

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group{
    margin-right:0px;
    height:$height-base;
}

/*.btn-group.open .dropdown-toggle {
    border-color:$brand-primary;
}*/

.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
    outline: 0;
  }
}

