﻿.input-validation-error,
.input-validation-error:focus{
        color: $brand-danger; 
        border-color: $brand-danger;
        border: 1px solid $brand-danger !important;
    }

.field-validation-error{
        color: $brand-danger;
        border-color: $brand-danger;
    }